# {{ ansible_managed }}

# Ctrl + right-click opens the menu
"{{ type_clipboard_dir }}/clip-menu"
  Control + b:3 + Release

# Ctrl + Alt + V types the clipboard directly
"{{ type_clipboard_dir }}/type-clipboard type"
  Control+Alt + v + Release
